
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(205,191,165); 
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height : 80px;
}



.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    font-weight: bold;
}

.nav-links a:hover {
    color: #26d97d;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 1rem;
    }
    
    .nav-links {
        margin-top: 1rem;
    }
    
    .nav-links li {
        margin-left: 0;
        margin-right: 1rem;
    }
}